<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dofun.sxl">

    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序从非系统拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用访问联系人通讯录信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取短信内容 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 录制声音通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读取部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.SjdListActivity" />
        <activity android:name=".activity.LysListActivity" />
        <activity android:name=".activity.XhzListActivity" />
        <activity android:name=".activity.personal.PersonRewardActivity" />
        <activity android:name=".activity.personal.PersonalLevelActivity" />
        <activity android:name=".activity.StudyToolActivity" />
        <activity android:name=".activity.StatisticsActivity" />
        <activity android:name=".activity.SjdDetailActivity" />
        <activity android:name=".activity.MistakeListActivity" />
        <activity android:name=".activity.personal.FeedbackActivity" />
        <activity android:name=".activity.personal.ContactActivity" />
        <activity android:name=".activity.personal.JoinActivity" />
        <activity android:name=".activity.personal.SettingActivity" />
        <activity android:name=".activity.personal.ChangeNetActivity" />
        <activity android:name=".activity.personal.UserInfoActivity"></activity>
    </application>

</manifest>