<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dofun.sxl">

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序从非系统拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用访问联系人通讯录信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取短信内容 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 录制声音通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读取部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dofun.sxl.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xhz.XhzListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.PersonRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.PersonalLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudyToolActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".activity.StatisticsActivity" />
        <activity
            android:name=".activity.sjd.SjdDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mistake.MistakeSjdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.ChangeNetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DailyPractiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lys.LysDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sjd.ReciteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WebActivity" />
        <activity
            android:name=".activity.sjd.EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xhz.FillWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xhz.WriteWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xhz.RecognizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sjd.SjdKindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lys.LysKindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mistake.MistakeLysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.sjd.EvaluateDetailActivity" />
        <activity android:name=".activity.sjd.VideoRecordActivity" />
        <activity android:name=".activity.personal.term.PerfectInfoActivity" />
        <activity android:name=".activity.personal.term.SchoolListActivity" />
        <activity android:name=".activity.personal.term.GradeListActivity" />
        <activity android:name=".activity.personal.term.TermListActivity" />
        <activity android:name=".activity.personal.term.ClassListActivity" />
        <activity android:name=".activity.BookDetailActivity" />
        <activity android:name=".activity.InteractListActivity" />
        <activity android:name=".activity.InteractDetailActivity"></activity>
    </application>

</manifest>